#personalized-timeline-settings data="#{{ min_learning_rate: @min_learning_rate, max_learning_rate: @max_learning_rate, assessment_submission_weight: @assessment_submission_weight, assessment_grade_weight: @assessment_grade_weight, video_view_percentage_weight: @video_view_percentage_weight }.to_json}"
